<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Madlibs</title>
</head>
<body>
  <form action="/story" method="post">
    <label for="noun_one">Noun</label>
    <input type="text" name="noun_one" id="noun_one">
    <br>
    <label for="noun_two">Noun</label>
    <input type="text" name="noun_two" id="noun_two">
    <br>
    <label for="noun_three">Noun</label>
    <input type="text" name="noun_three" id="noun_three">
    <br>
    <label for="noun_four">Noun</label>
    <input type="text" name="noun_four" id="noun_four">
    <br>
    <label for="noun_five">Noun</label>
    <input type="text" name="noun_five" id="noun_five">
    <br>
    <label for="noun_six">Noun</label>
    <input type="text" name="noun_six" id="noun_six">
    <br>
    <label for="noun_seven">Noun</label>
    <input type="text" name="noun_seven" id="noun_seven">
    <br>
    <label for="noun_eight">Noun</label>
    <input type="text" name="noun_eight" id="noun_eight">
    <br>
    <label for="noun_nine">Noun</label>
    <input type="text" name="noun_nine" id="noun_nine">
    <br>
    <label for="verb_one">Verb</label>
    <input type="text" name="verb_one" id="verb_one">
    <br>
    <label for="verb_two">Verb</label>
    <input type="text" name="verb_two" id="verb_two">
    <br>
    <label for="verb_three">Verb</label>
    <input type="text" name="verb_three" id="verb_three">
    <br>
    <label for="adverb">Adverb</label>
    <input type="text" name="adverb" id="adverb">
    <br>
    <label for="adjective">Adjective</label>
    <input type="text" name="adjective" id="adjective">
    <br>
    <button type="submit">Submit</button>
  </form>
</body>
</html>